
#card-container {
  display: flex; /* Usa Flexbox */
  flex-wrap: wrap; /* Envuelve las cartas cuando no haya suficiente espacio */
  justify-content: center; /* Centra las cartas horizontalmente */
}
.card {
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 40px;
  padding: 20px;
}
.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}
.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.card p {
  font-size: 16px;
  color: #666;
}